.ff--logo {
  font-family: $ff-logo;
  font-size: 5rem;
}

.ff--logo--bold {
  font-family: $ff-logo;
  font-weight: bold;
}

.ff--logo--heavy {
  font-family: $ff-logo;
  font-weight: bolder;
}
.ff--secondary {
  font-family: $ff-secondary;
}
